<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Webpage with Text Input</title>
    <!-- Link your external CSS file here -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div id="pageTitle">GO ASCII ART</div>
        <form action="//home/iyoussef/ascii-art-web/ascii-files/main" method="post">
            <input type="text" id="textInput" name="text" placeholder="Enter text here">
            <button type="button" id="button1" onclick="toggleButton('button1')">Standard</button>
            <button type="button" id="button2" onclick="toggleButton('button2')">Shadow</button>
            <button type="button" id="button3" onclick="toggleButton('button3')">Thinkertoy</button>
            <button type="submit" id="submitButton">Submit</button>
        </form>
        <div id="displayBox"></div>
    </div>

    <script>
        function toggleButton(buttonId) {
            const button = document.getElementById(buttonId);
            const buttons = document.getElementsByTagName("button");
            
            for (let i = 0; i < buttons.length; i++) {
                // Remove the "selected" class from other buttons
                if (buttons[i] !== button) {
                    buttons[i].classList.remove("selected");
                }
            }
            
            button.classList.toggle("selected");
        }
    </script>
</body>
</html>


